<div class="container mt-6">
    
        <div class="col-md-5">
            <section>
                <form>
                    <div class="form">
                        <div>
                            <label for="name">Full Name on the Card</label>
                            <input class="form-control" [(ngModel)]="cardName" id="name">
                        </div>
                        <div>
                            <label for="name">Card Number</label>
                            <input class="form-control" [(ngModel)]="cardNumber" id="name">
                        </div>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-6">
            <section>
                <div class="card">
                    <h4>{{cardName}}</h4>
                    <h4>{{cardNumber}}</h4>
                </div>
            </section>
        </div>

</div>

